.chatai_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.chatai_navbar-links {
    display: flex;
    align-items: center;
}

.chatai_navbar-link {
    color: var(--color-text);
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
    margin: 0 1.5rem;
    transition: color 0.3s ease;
}

.chatai_navbar-link-logo {
    margin-right: 2rem;
}

.chatai_navbar-link-logo img {
    width: 62.56px;
    height: 16.02px;
}

.chatai_navbar-link-container {
    display: flex;
    flex-direction: row;
}

.chatai_navbar-sign {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    
}
.chatai_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 6rem;
}

.chatai_navbar-links {
    display: flex;
    align-items: center;
}

.chatai_navbar-link-container,
.chatai_navbar-sign {
    display: flex;
    align-items: center;
}

.chatai_navbar-link-container p,
.chatai_navbar-sign p,
.chatai_navbar-menu_container p {
    color: azure;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500px;
    line-height: 25px;
    text-transform: capitalize;
    margin: 0 1rem;
    cursor: pointer;

}
.chatai_navbar-sign button,
.chatai_navbar-menu_container button {

    font-family: var(--font-family);
    width: 152px;
    height: 58px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    background: #FF4820; 
    border-radius: 10px;
    padding: 1rem 2rem;
    word-wrap: break-word;
    border: none;
    outline: none;
    cursor: pointer;
}
/* existing styles */

@media screen and (max-width: 768px) {
    .chatai_navbar {
        flex-direction: column;
        align-items: flex-start; /* align items to the left */
    }

    .chatai_navbar-links {
        flex-direction: column;
        align-items: flex-start;
    }

    .chatai_navbar-link-container {
        display: none;
    }

    .chatai_navbar-link-container.open {
        display: block;
    }

    .chatai_navbar-sign {
        flex-direction: column; /* stack sign in and sign up vertically */
    }

    .chatai_navbar-sign p,
    .chatai_navbar-sign button {
        width: 65%; /* make sign in and sign up full width */
        padding: 10px; /* add some padding */
        text-align: center; /* center the text */
    }
    .chatai_navbar-sign {
        flex-direction: column;
        

    }
    .menu-icon {
        display: block;
        color: white;
        left: 100%;
        
    }
}